@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');

.Mypage {
  text-align: center;
  width: 100%;
  min-width: 375px;
  max-width: 750px;
  font-family: 'Noto Sans KR', sans-serif;
}

ul{list-style: none;margin: unset;padding: unset;}
li{list-style: none;}

a{
  text-decoration: none;
  color: unset;
}

.logo{
  width: 100px;
  margin: 50px auto 20px;
}

.logo h2{
  color:#065ED9;
}

.profileImg{
  width: 100px;height: 100px;
  border-radius: 30px;
  margin: 0 auto 1%;
}

.profileImg img{
  border-radius: 30px;
  box-shadow: inset 0px 0px 15px 15px #e1e1e1;
}

.profileName{
  font-size: 20px;
  color: #065ED9;
  font-weight: bold;
}

.Menu ul{
  width: 60%;
  margin: 5% auto;
}

.Menu ul li{
  border-bottom: 1px solid #ddd;
  padding: 10px 0 3px;
}

.btMenu{
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
  font-size: 11px;
}

