*{
  box-sizing: border-box;
}
.b_blue{background: #2C50FF;}
.b_blue2{background: #6164FF;}
.b_blue3{background: #EDEFFE;}
.b_red{background: #FD7275;}
.b_beige{background: #fff8d7;}
.b_pink{background: #fff6f7;}

.flex-box{
  display: flex;
}

.f-between{
  display: flex;
  justify-content: space-between;
}

.App .entire_left{
  display: none;
  width: 50%;
  height: auto;
  background: #2C50FF;
}

@media (min-width: 750px) {
  .App .entire_left{
    display: block;
  }
}

.App .entire_right{
  max-width:750px;
  margin:0 auto;
  padding:30px;
  line-height: 1.2;
  overflow: hidden;
}

.MainWrap, .header, .footer{
  padding:10px 0;
}

.header h1{
  color:#075FDB;
  text-align: center;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 32px;
}

.header .tit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.header .tit p{
  font-weight: bold;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  z-index: 2;
}

.header .tit p::before{
  content: "";
  display: block;
  position: absolute;
  top: 60%;
  left: 0;
  height: 10px;
  width: 100%;
  background:#FFF3B2;
  z-index: -1;
}

.header .tit .profile{
  outline: 1px solid #f00;
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 15px;
}

.header .tit .userName{
  color:#797979;
  font-size: 20px;
}

.header .MyInfo {
  margin:30px 0;
}

/* 슬라이드 */
.swiper-content {
  height: 100% !important
}

.MainWrap .MyInfo .swiper-slide {
  border-radius: 15px;
  overflow: hidden;
  height: auto !important;
}

.MainWrap .MyInfo .swiper-slide a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color:#fff;
  height: 100%;
}

.MainWrap .MyInfo .swiper-slide *{
  color:#fff;
}

.MainWrap .MyInfo .swiper-slide .slide-tit{
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4rem;
}

.MainWrap .MyInfo .swiper-slide .slide-tit span{
  font-size: 16px;
}

.MainWrap .MyInfo .swiper-slide .slide-info {
  margin-top: 10px;

}

.MainWrap .MyInfo .swiper-slide .slide-info strong{
  font-size: 54px;
  font-weight: bold;
  margin-right: 5px;
}

.MainWrap .MyInfo .swiper-slide .slide-info span{
  font-size: 22px;
}

.MainWrap .MyInfo .swiper-slide .slide-info span.t2{
  font-size: 18px;
}

.MainWrap .MyInfo .swiper-slide .slide-info span.t3{
  font-size: 28px;
}

.MainWrap .MyInfo .swiper-slide .slide-info .time-info{
  display: flex;
}

.MainWrap .MyInfo .swiper-slide .slide-info .time-info > div{
  margin-right: 10%;
}

.MainWrap .MyInfo .swiper-slide .slide-info .time-info > div strong{
  line-height: 0.85em;
}

.MainWrap .MyInfo .swiper-slide .slide-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.MainWrap .MyInfo .swiper-slide .slide-right {
  width:20%;
  padding-top: 20%;
  outline: 1px solid #fff;
  display: block;
}


/* 해쉬태그 */
.filterWrap{
  margin-top:10px;
}

.MainWrap h3{
  font-size: 18px;
  font-weight: bold;
}

.MainWrap .filterWrap .hashTag {
  margin:15px 0;
}

.MainWrap .filterWrap .hashTag .swiper-slide{
  width: auto;
}

.MainWrap .filterWrap .hashTag .swiper-slide span{
  display: block;
  padding:5px 15px;
  border-radius: 30px;
  border: 1px solid #82B0EC;
  color:#82B0EC;
}

/* BEST blog */
.MainWrap .slide-Blog {
  margin: 50px 0;
  overflow: visible;
}

.MainWrap .slide-Blog .swiper-slide{
  outline: 1px solid #f00;
  width: auto !important;
  max-width: 250px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(120, 120, 120, 0.4);
}

.MainWrap .slide-Blog .thumbnail{
  height: 250px;
  outline: 1px solid #00f;
}

.MainWrap .slide-Blog dl{
  padding:15px
}

.MainWrap .slide-Blog dt{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.MainWrap .slide-Blog dd{
  display: -webkit-box;
  display: box;
  overflow:hidden;
  text-overflow: ellipsis;
  word-break:break-all;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}

/* 인기글 */
.MainWrap .live-list > .f-between{
  margin-top: 10px;
  padding:15px 25px;
  align-items: center;
  border-radius: 25px;
}

.MainWrap .live-list .list-tit{
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MainWrap .live-list .list-con{
  width: 90%;
}

.MainWrap .live-list .list-con .list-tit{
  margin-bottom: 10px;
}

.MainWrap .live-list .list-con span{
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.MainWrap .live-list .bookMark{
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* footer */
.footer .footerWrap{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin:0 auto;
}

.footer .footerWrap li{
  width:25%;
  text-align: center;
  font-size: 25px;
}

.footer .footerWrap li svg path{
  color: #2C50FF;
}