b,strong{font-weight: bold;}

.Title{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 15px;

    input{
        width: 100%;
        height: 40px;
        padding-left: 10px;
    }
}
.quill{
    margin-bottom: 15px;
    min-height: 300px;
    
    .ql-editor{
        min-height: 300px;
    }

    .ql-toolbar{
        .ql-formats {
            margin-right: 8px !important;
        }  
    } 
}