@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');

*,html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Noto Sans KR', sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {list-style: none;}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{width: 100%;}
*{box-sizing: border-box; color: #333333}
a{text-decoration: none;color:#333;}
.ov{overflow: hidden}
.p_r{position: relative}
.hidden{font-size: 0;width: 1px; height:1px; background: rgba(0,0,0,0.0); position: absolute;z-index: -1}
.center{left: 50%; top:50%; transform: translate(-50%,-50%)}
.ir{font-size: 0;color: transparent;line-height: 0;}

.flex-box{display: flex;}

.Wrap{padding: 0 30px;}

.b_blue{background: #2C50FF;}
.b_blue2{background: #6164FF;}
.b_blue3{background: #EDEFFE;}
.b_red{background: #FD7275;}
.b_beige{background: #fff8d7;}
.b_pink{background: #fff6f7;}

.tc{text-align: center;}
.bold{font-weight: bold;}

.mr-5{margin-right: 5px;}
.mr-10{margin-right: 10px;}
.mr-20{margin-right: 20px;}

.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.ml-20{margin-left: 20px;}

.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-15{margin-top: 15px;}

.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}

.fs-10{font-size: 10px;}
.fs-12{font-size: 12px;}
.fs-15{font-size: 15px;}

